body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Shadeerah Demo';
  background: radial-gradient(#212529, transparent);
  color:white;
}

 @font-face{
   font-family: 'Shadeerah Demo';
   src: local('Shadeerah Demo'), url(./components/assets//fonts/Shadeerah_Demo.woff) format('woff');
 }

 a {
  color: #000000;
 }

 a:hover{
  color:  white;
  text-decoration: none
 }